# pixi environments
.pixi
.atlas
*.egg-info
*.pyc
**/.DS_Store
**/test-data/
__pycache__/
micromamba/
bioimageit-v*/
PyFlow/Configs/
*.ini
*.log
build/
dist/
version.json
PyFlow/Tests/validated_tools.json