[project]
name = "bioimageit"
version = "0.3.0"
description = "A FAIR data management and image analysis framework"
authors = [{name = "Arthur Masson", email = "arthur.masson@inria.fr"}]
license = { file = "LICENSE" }
requires-python = "== 3.10"
dependencies = ["omero-py==5.15.0",
                "simpleitk>=2.3.1, <2.4",
                "qtpy>=2.4.1,<3",
                "blinker>=1.8.2,<2",
                "keyring>=25.2.1,<26",
                "numpy>=2.0.1,<3",
                "pandas>=2.2.2,<3",
                "pillow>=10.4.0,<11",
                "pyside6>=6.7.2,<7", "pyside6-qtads>=4.3.0.2,<5", "munch>=4.0.0,<5", "send2trash>=1.8.3,<2"]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.pixi.project]
channels = ["conda-forge"]
platforms = ["osx-arm64"]

[tool.pixi.pypi-dependencies]
bioimageflow = { path = ".", editable = true }

[tool.pixi.tasks]

[tool.pixi.dependencies]
zeroc-ice = "==3.6.5"
